<p appHighLight>about works!</p>
<p [appHighLight]="myColor" defaultColor="yellow" >about works!</p>

<div>
  <input type="radio" name="colors" (click)="myColor='green'">Green
  <input type="radio" name="colors" (click)="myColor='yellow'">Yellow
  <input type="radio" name="colors" (click)="myColor='cyan'">Cyan
</div>
<p >Highlight me!</p>

<ul [ngSwitch]="loginName">
  <li *ngSwitchCase="'user'">
    <p>User is logged in.</p>
  </li>
  <li *ngSwitchCase="'admin'">
    <p>Admin is logged in.</p>
    <app-home></app-home>
  </li>
  <li *ngSwitchDefault>
    <p>Please choose login name.</p>
  </li>
</ul>

<br />
<span >Counter = {{ counter }}</span>
<br />
<span >Counter BinhPhuong = {{ counterBinhPhuong }}</span>
