<div class="clsTest">
  <h3>Đây là component Home</h3>
  <h1>Trái cây</h1>
  <!-- <div *ngFor="let trai of traiCayList; let i = index">
    <li>{{ i + 1 }}.{{ trai }}</li>
  </div>
  <br /> -->
  <!-- <table class="table">
    <tr>
      <th>Thứ tự</th>
      <th>Tên trái cây</th>
      <th>Giá bán</th>
      <th>Đang hạ giá</th>
    </tr>
    <tr *ngFor="let trai of traiCayList2; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ trai.ten | uppercase}}</td>
      <td class="right">
        <span [ngClass]="{ 'so-am': trai.gia < 0 }" >
          {{ trai.gia | number | currency:'VND' :'symbol':'2.3' }}
        </span>
      </td>
      <td>
        <span>{{ trai.haGia | onSale | uppercase }}</span>
      </td>
    </tr>
  </table> -->

  Tỉnh/ Thành phố:
  <select name="" id="" (change)="onChange($event)">
    <option *ngFor="let data of vietnamData">
      {{ data.city }}
    </option>
  </select>

  <br />

  Quận/ Huyện:
  <select id="district">
    <option *ngFor="let district of districts">{{ district }}</option>
  </select>

</div>
